
@font-face {
    font-family: 'ashleybrushscript';
    src: url('fonts/ashleybrushscript2_0.otf');
    src: url('fonts/ashleybrushscript2_0-webfont.woff2') format('woff'),
         url('fonts/ashleybrushscript2_0-webfont.woff') format('woff');
      
    font-weight: normal;
    font-style: normal;

}
