.mission-page-header{
	height:300px;
	background-size: cover;
	background-repeat: no-repeat;

	.maintitle{
		align-items:center;
		display: flex;
		justify-content:center;
		height: 100%;
		h2{
			color:white;
			font-size:100px;
			z-index: 999;
			
		}
	}
}

.page-template-page-mission{
	.header-container{
		position:relative;
		.gallery-header{
			background-size: cover;
			background-repeat: no-repeat;
			width:100%;
			height:300px;	
			background-position: 0 17%;
			h2{
				z-index: 1002;
				position: relative;
				top: 50%;
				-webkit-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				transform: translateY(-50%);
				color:#fff;
				font-size: 100px;
				text-transform: lowercase;
			}
		}
		.overlay{
			position:
			absolute;
			top:0; 
			bottom:0;
			left:0;
			right:0;
			background: rgba(0, 0, 0, 0.2);
			z-index: 1000;
			opacity:1;
			transition: all .5s ease-in-out;
		}
	}
}



.mission-page{
	.statement{
		width:100%;
		padding:5%;
		margin:0 auto;
		max-width: 800px;
		transition: all .5s ease-in-out;
		background: #fff;
	}
	.mission-statement{
		padding:5%;
		width:100%;
		background: url("images/bg-image.png");
		h2{
			margin:0;
			padding-bottom:3%;
			font-size: 30px;
			text-align: center;
			padding-bottom:3%;
			color: #191953;
			font-family: 'Raleway', sans-serif;
		}
		p{

			text-align: left;
			color: #191953;
			font-size: 20px
		}
	}
}
.learning-happens{
	padding-bottom:15px;
}
.learning-section{

	background: #fffae0;
	padding:10% 5%;
	
}
.learning-container{
	display: flex;
	flex-wrap:wrap;
	width:100%;

	.learning-box{
		width:calc(48% - 10px);
		display: flex;
		flex-wrap:wrap;
		margin: 10px;
		transition: all .5s ease-in-out;
		background-color: #fff;
		height: 300px;
		align-items: center;
		padding: 10px;
		.learning-content{
			width:75%;

			h3{
				text-align: left;
				font-family: 'Raleway', sans-serif;
				padding-bottom: 15px;
			}
			p{
				transition: all .5s ease-in-out;
			}
		}
		.learning-image{
			display:block;
			width:17%;
		}
		
	}
	
}
.learning-container .learning-box:hover {
    background-color:#DCF5F0;

}

.mission-page .statement:hover{
	background-color: #DCF5F0;
}
.pdf{
	padding:5% 0 0 0;
}
.link-intro{
	font-family: Raleway,sans-serif;
	text-align: center;
	font-size: 30px;
	color:#191953;
	
}
.link{
		color:#51CDB5;
		font-size: 24px;
		margin: 0 auto;
		display: block;
		font-weight: 900;
		padding:3%;
		text-align: center;
	}
link:hover {
   color:#51CDB5;
}
// Responsive design
@media all and (max-width: 1390px) { 

}
@media all and (max-width: 1024px) { 
	
}
@media all and (max-width: 940px) { 
	.learning-container .learning-box{
		width:100%;
	}
	.page-template-page-mission .header-container .gallery-header h2 {
	    font-size: 30px;
	}
	.mission-page .mission-statement h2 {
	    font-size: 20px;
	}
	.learning-happens {
	    font-size: 30px;
	}
	.link-intro {
	    font-family: Raleway,sans-serif;
	    font-size: 20px;
	}
	.link {
	    font-size: 20px;
	}
}

@media all and (max-width: 768px) {
	.page-template-page-mission .header-container .gallery-header {
	    width: 100%;
	    height: 250px;
	}
	.mission-page .mission-statement p {
	    font-size: 15px;
	}
}

@media all and (max-width: 667px) {
	.page-template-page-mission .header-container .gallery-header {
	    background-position: center;
	}
}

@media all and (max-width: 480px) {
	
}

@media all and (max-width: 320px) {
    
    
}